/*
 *= require jquery-ui
 *= require jquery.datetimepicker
 */

$navbar-border-radius: 0;

@import "jquery-ui-dist/jquery-ui";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "animation";

.flash {
  .alert.notice {
    @extend .alert-warning;
  }
  .alert.alert {
    @extend .alert-danger;
  }
}

.radio_buttons {
  .radio {
    display: inline;
    margin-left: 20px;
  }
}

#fullcalendar {
  .fc-button-group, button {
    display: block;
  }
}

@media (max-width: 768px) {
  .table-index {
    .extra {
      display: none;
    }
  }
}

textarea.notes {
  font-family: "Courier New", Courier, monospace;
}

#notes_entry_editor {
  min-height: 400px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#spinner {
  position: absolute;
  color: #fff;
  left: 0;
  top: 0;
  font-size: 1.5em;
  display: none;
}

.sidebar {
  li {
    a {
      display: block;
      line-height: 2em;
      font-size: 1.2em;
      color: #333333;

      &:hover {
        text-decoration: none;
      }
    }
    border-bottom: thin #ddd solid;

    &:hover {
      background: #f5f5f5;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

@media (max-width: $screen-lg-min) {
  .sidebar {
    li {
      display: inline;
      float: left;
      border: {
        right: thin #ddd solid;
        top: 0;
        bottom: 0;
      }

      &:last-child {
        border: 0;
      }

      a {
        padding: 0 .5em;
        line-height: 1.2em;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .sidebar {
    li {
      a {
        font-size: 1.5em;
        padding: .5em;
        span {
          display: none;
        }
      }
    }
  }
}

